.wrapper {}

.map {}

.infobar {
    position: absolute;
    display: block;
    background-color: rgba(35, 55, 75, 0.9);
    border-radius: 10px;
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    font-size: medium;
    z-index: 3;
    bottom: 5%;
    left: 40px;
    margin: 0px 0px;
    height: auto;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}